.register {
  padding: 50px 0;
  input::placeholder {
    line-height: 36.31px;
    @include text($fw-4, $fz-16, $cl-text-dark);
  }
  .container {
    p {
      @include text($fw-4, $fz-40, $cl-text-dark);
      text-align: center;
      // margin-bottom: 0;
    }
    .form {
      .reg-content {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        padding: 0 100px;
        .reg-left {
          display: flex;
          flex-direction: column;
          flex: 0 0 50%;
          position: relative;
          width: 520px;
          .input {
            border-bottom: 3px solid $cl-inp-primary;
            padding-top: 30px;
            input {
              width: 100%;
              outline: none;
              border: none;
            }
            span {
              position: absolute;
              right: 0;
              color: $cl-text-red-1;
            }
          }
        }
        .reg-right {
          display: flex;
          flex-direction: column;
          flex: 0 0 50%;
          position: relative;
          width: 520px;
          .input {
            border-bottom: 3px solid $cl-inp-primary;
            padding-top: 30px;
            input {
              width: 100%;
              outline: none;
              border: none;
            }
            span {
              position: absolute;
              right: 0;
              color: $cl-text-red-1;
            }
          }
          .gender {
            margin-top: 30px;
            display: flex;
            align-items: center;
            span {
              line-height: 36.31px;
              @include text($fw-4, $fz-30, $cl-text-dark);
            }
            .gender_inp {
              margin-left: 40px;
              display: flex;
              align-items: center;
              gap: 5px;
              input {
                appearance: none;
                width: 20px;
                height: 20px;
                padding: 0;
                border-radius: 50%;
                border: 2px solid #000;
                transition: 0.2s all linear;
              }
              input[type="radio"]:checked {
                border: 8px solid #ae18e2;
              }
            }
            // input:checked{
            //   background-color: $cl-inp-primary;
            // }
            label {
              @include text($fw-3, $fz-24, $cl-text-dark);
              display: flex;
              align-items: center;
            }
          }
          .btn-submit {
            margin-top: 50px;
            width: 291px;
            height: 50px;
            line-height: 36.31px;
            @include text($fw-4, $fz-30, $cl-text-whiteFC);
            border: none;

            background: $cl-inp-primary;
          }
        }
      }
    }
  }
}

// input
// setting input
.material-form-field {
  font-size: 14px;
  position: relative;
  display: block;
  color: $cl-text-dark;
  padding: 25px 0 10px 0;

  // &::after{
  //   content:"\00A0";
  //   display:block;
  //   color: #d50000;
  //   font-size:12px;
  //   padding-top:5px;
  // }

  .material-form-field-label {
    position: absolute;
    display: block;
    top: 10px;
    left: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    cursor: text;
    @include text($fw-4, $fz-16, $cl-text-dark);
  }

  input {
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 3px solid $cl-inp-primary;
    outline: none;

    @include text($fw-4, $fz-16, $cl-text-dark);

    &:invalid {
      outline: none;
      box-shadow: none;
    }
    &:valid,
    &:focus {
      & ~ .material-form-field-label {
        top: 10px;
        font-size: 20px;
      }
    }
    &:focus {
      outline: none;
      color: $cl-text-dark;
      padding-bottom: 10px;
      border-bottom-width: 3px;
      border-bottom-color: 3px solid $cl-inp-primary;

      & ~ .material-form-field-label {
        color: $cl-inp-primary;
      }

      // & ~ .material-dropdown{
      //   height:228px;
      //   box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
      //   transition:0.2s ease-out height, step-start box-shadow 0.2s;
      //   -moz-transition:0.2s ease-out height, step-start box-shadow 0.2s;
      //   -webkit-transition:0.2s ease-out height, step-start box-shadow 0.2s;
      // }
    }
  }

  &.material-form-field-invalid {
    color: #d50000;
    &::after {
      content: attr(data-validationError);
    }
    input:focus ~ .material-form-field-label {
      color: #d50000;
    }
  }
}
